body{
    background-color: #2c3e50;
  }
  
.btn{
    cursor: pointer;
}

body {
    color:#ecf0f1;
  }
.js-clock{
    text-align: center;
    font-size: 70px;
}


.form,
.greetings,
.toDoForm {
    display: none;
}

.greeting-title {
    text-align: center;
    font-size: 54px;
    display: block;
}
.greeting-input {
    width: 430px;
    height: 54px;
    font-size: 44px;
    color: #ecf0f1;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 3px solid #ecf0f1;

}
.toDoForm-title {
    text-align: center;
    font-size: 44px;
    display: block;
}

.toDoForm-input {
    width: 300px;
    height: 44px;
    font-size: 40px;
    color: #ecf0f1;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 3px solid #ecf0f1;
}
  .showing {
      font-size: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: default;
      margin: 0 auto;
      margin-bottom: 30px;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  .bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear
}
